meteoServicio.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="http://localhost/meteoServicio"
             targetNamespace="http://localhost/meteoServicio">
    <types>
        <xsd:schema targetNamespace="http://localhost/meteoServicio">
            <xsd:element name="obtenerPrediccionRequest" type="xsd:string"/>
            <xsd:element name="obtenerPrediccionResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="dia" type="xsd:string"/>
                        <xsd:element name="clima" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="obtenerPrediccionRequest">
        <part name="parameters" element="tns:obtenerPrediccionRequest"/>
    </message>
    <message name="obtenerPrediccionResponse">
        <part name="parameters" element="tns:obtenerPrediccionResponse"/>
    </message>
    <portType name="MeteoServicioPortType">
        <operation name="obtenerPrediccion">
            <input message="tns:obtenerPrediccionRequest"/>
            <output message="tns:obtenerPrediccionResponse"/>
        </operation>
    </portType>
    <binding name="MeteoServicioBinding" type="tns:MeteoServicioPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="obtenerPrediccion">
            <soap:operation soapAction="http://localhost/meteoServicio#obtenerPrediccion"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
       
